{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * boompowsurprise plugin for Craft CMS 3.x
 *
 * boompowsurprise index.twig
 *
 * @author    Kevin Ruiz
 * @copyright Copyright (c) 2018 Kevin Ruiz
 * @link      http://www.bigandbrown.com
 * @package   Boompowsurprise
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("bigandbrown\\boompowsurprise\\assetbundles\\boompowsurprise\\BoompowsurpriseAsset") %}
{% do view.registerAssetBundle("bigandbrown\\boompowsurprise\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/ x/boompowsurprise/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "boompowsurprise" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('boompowsurprise') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@bigandbrown/boompowsurprise/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('boompowsurprise') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('boompowsurprise') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
