{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * boompowsurprise plugin for Craft CMS
 *
 * BoompowsurpriseWidget Widget Settings
 *
 * @author    Kevin Ruiz
 * @copyright Copyright (c) 2018 Kevin Ruiz
 * @link      http://www.bigandbrown.com
 * @package   Boompowsurprise
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("bigandbrown\\boompowsurprise\\assetbundles\\boompowsurprise\\BoompowsurpriseAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
