{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * boompowsurprise plugin for Craft CMS
 *
 * BoompowsurpriseWidget Widget Body
 *
 * @author    Kevin Ruiz
 * @copyright Copyright (c) 2018 Kevin Ruiz
 * @link      http://www.bigandbrown.com
 * @package   Boompowsurprise
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@bigandbrown/boompowsurprise/assetbundles/boompowsurprisewidgetwidget/dist', true) ~ '/img/BoompowsurpriseWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
